.link{
        align-items: center;
        font-size: 0.8rem;
        font-weight: normal;
        color: orange
}

.align-middle{
    vertical-align: middle; 
}

.bg{
    background-color: black;
}

/* style={{
    verticalAlign: 'middle'
}} */
/* 
style={{
    alignItems: "center",
    fontSize: "0.8rem",
    fontWeight: "normal"
}} */